# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# User-specific files
*.DS_Store
*.suo
*.user
src/*/Bin
test/*/Bin
src/*/bin
test/*/bin
nupkgs/*


# Build results
[Dd]ebug/
[Rr]elease/
*.obj
*.pch
*.pdb
*.log
.builds

# ReSharper is a .NET coding add-in
_ReSharper*

# Others
[Bb]in
[Oo]bj
sql

#logs
logs

packages